    {% extends "ECGAnalysis/base.html" %}
{% block content %}

{% load static %}

 <style>
.content-section{
    background-image: url( "{% static 'images/background.png' %}");
}
</style>





    <div class="menu-container">
        <div class="welcome-Container" >

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label class="h4" for="ECGFile">Upload ECG FIle</label>
                    <br><br>
                    <input type="file" name="ECGFile">
                    <br><br>
                    <button class="btn btn-outline-primary" type="submit">Upload</button>
                </div>
            </form>
        </div>

        <div id="files_listview">
            <h4>Previous Files</h4>
            <ul>
                 {% for a in files %}

                     <li> <a href='{% url 'GoToMain' file=a %}' ><strong> {{ a }}</strong></a></li>

                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="content-section"></div>



{% endblock %}
