<!DOCTYPE html>
<html lang="en">
<head>
    <title>Patient</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Style/patient.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Style/Home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Style/leads.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'Style/Icons_file.css' %}">

</head>
<body>
{% load static %}

 <style>
.content-section{
    background-image: url( "{% static 'images/background.png' %}");
}
</style>
<div class="container">
    <div class="menu-container">
        <h1 class="enterprise-name">ECG<span class="black" >Analysis</span></h1>
        <h2>Data of the Patient</h2>
        <div class="data">
            {% for a , b in f %}
                <div class="template-data">
                    <h3>{{ a }}</h3>
                    <p>{{ b }}</p>
                </div>
            {% endfor %}
        </div>
</div>

<div class="content-section">
    <h2>Choose the leads that you want analyse</h2>


    <div class="icon-container" style="position: absolute">
        <div class="home-container"  style=" filter : invert(1);"  onclick="location.href='{% url 'greeting' %}'" >
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3.222 18.917c5.666-5.905-.629-10.828-5.011-7.706l1.789 1.789h-6v-6l1.832 1.832c7.846-6.07 16.212 4.479 7.39 10.085z"></path></svg>

        </div>
        <div class="signout-container"  style=" filter : invert(1);" onclick="location.href='{% url 'logout' %}'" >
           <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M10 9.408l2.963 2.592-2.963 2.592v-1.592h-8v-2h8v-1.592zm-2-4.408v4h-8v6h8v4l8-7-8-7zm6-3c-1.787 0-3.46.474-4.911 1.295l.228.2 1.396 1.221c1.004-.456 2.114-.716 3.287-.716 4.411 0 8 3.589 8 8s-3.589 8-8 8c-1.173 0-2.283-.26-3.288-.715l-1.396 1.221-.228.2c1.452.82 3.125 1.294 4.912 1.294 5.522 0 10-4.477 10-10s-4.478-10-10-10z"></path></svg>

        </div>

    </div>

    <div class="leads_container">

        {% for a  in graph %}
            <div class="card">
                <div class="banner">
                    <div class="banner_img"> {{ a|safe }}</div>

              </div>

                <button onclick="location.href='{% url 'graph' lead_id=forloop.counter %}'" class="btnGraph" > Analyze the graph of lead {{ forloop.counter }}</button>

            </div>

        {% endfor %}


    </div>



</div>
</div>



<script >
     variable = "{{image}}";
     console.log(variable);
</script>
</body>
</html>