<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Graph</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!-- ECG Analysis CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Style/graph_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Style/slider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Style/switch-btn.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'Style/Icons_file.css' %}">

    <!-- external script CSS -->
   <script src="https://ajax.googleapis.com/ajax/libs/d3js/6.5.0/d3.min.js"></script>

    <!-- our script  -->
    <script src="{% static 'JS/clusters.js' %}"></script>
    <script src="{% static 'JS/printGraph.js' %}"></script>
    <script src="{% static 'JS/modal_add_graph.js' %}"></script>
    <script src="{% static 'JS/deleteGraph.js' %}"></script>


    <script>


        let positionWhenAdd= 0;
        let positionAddingLeads = [];

        // array to manage the order of the differnet graphs in the page
        positionAddingLeads.push({{ current_lead }});

        {# Ajax request to launch a backend function that returns the analysis of the selected lead  #}
        function analyze(position) {
            var pulse = {{ pulses }};

            $.ajax({
                url: "analyze", // the endpoint
                type: "POST",
                 data: {
                          'lead_id': positionAddingLeads[position]
                        } ,// http method
                // data sent with the post request
                // handle a successful response
                // here we get the data  results from the backend function
                success: function (data) {


                    {#  call the function that print the cluster data that we got from the backend function #}
                    console.log("puree de position", position);
                    print_cluster_data(data, pulse.length , position);

                    document.getElementById('LaunchButton'+ position).disabled = 'true';
                    document.getElementById('LaunchButton'+ position).style.display= 'none';
                    console.log(data); // log the returned json to the console
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        };
    </script>
    <script>




    var elements = document.getElementsByClassName('lead_checkbox');
    counter = 0 ;
    console.log('elements');
    console.log(elements.length);

    var graphs_to_add = [];
    var graphs_to_delete = [];
    // count the num of leads added and check if it is greater than 3 ( if it is ,alert)
    function count(i )
    {
        var x = document.getElementById(i);
        if(x.checked)
        {
            counter ++;
            if(graphs_to_delete.includes(i))
                graphs_to_delete = graphs_to_delete.filter(item => item !=i);
            else
                graphs_to_add.push(i);
        }
        else
        {
            counter--;
            if(graphs_to_add.includes(i))
            {
                graphs_to_add = graphs_to_add.filter(item => item !=i);

            }
            else
            {
                graphs_to_delete.push(i);
            }

        }

        console.log('count ',counter);

        if(counter >= 1)
             $("#add_leads_btn").prop('disabled', false);

        if(counter > 3)
        {
            console.log('enable');
              alert("You can only select 3 leads");
             x.checked= false;
        }


    }



    // {# Ajaxrequest to launch functions in the backend that gives us the data of each selected lead #}
        // {# to show their graph and their information #}
        function addLeadGraph(event) {
            event.preventDefault();
            console.log('addgraph' + graphs_to_add);
            console.log('deletegraph'+ graphs_to_delete);
            var graphSelected =[];
            var leadsCheckbox = document.getElementsByClassName('lead_checkbox');

            for ( var i = 0 ; i <11 ; i++)
            {
                if(leadsCheckbox[i].checked && !leadsCheckbox[i].disabled){
                    graphSelected.push(leadsCheckbox[i].value);
                }
            }

            for  (var i = 0 ; i < graphs_to_delete.length ; i++)
            {
                    deleteGraph(graphs_to_delete[i]);
            }



            for (var i = 0 ; i < graphs_to_add.length ; i++)
            {
                var a = document.getElementById(graphs_to_add[i].toString());
              //  a.disabled = true;
                /*
                Ajax request
                */
                $.ajax({
                    url: 'addGraph',
                    data:
                        {
                        'lead_id': graphs_to_add[i]
                        },
                        /*
                            Here we get the response and the results of the function
                         */
                        success: function (data) {
                            console.log("sel ", i ,"data :", data);
                            positionWhenAdd++;
                            console.log("Position",positionWhenAdd);
                            {#  Call the function that creates the other graphs #}
                            printOtherGraph(data,positionWhenAdd);
                        }
                      });
                }


            var x = document.getElementById("modal-add-graph");
            x.style.display = 'none';
            graphs_to_add = [];
            graphs_to_delete = [];

        };



    </script>



</head>
<body>

<header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <medium class="navbar-brand mr-4">ECG Analysis</medium>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'greeting' %}">Home</a>
              {% endif %}
              {# <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a> #}
            </div>
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'logout' %}">logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

<div class="content-section">

    <div class="cluster-nav-btn" onclick="toggleNav()">
        <i class="fa fa-bar-chart-o fa-2x"></i>
    </div>


    <div class="graph-analyze-section">
        {# --- slider bar for the graph --- #}
        <div id="wrapper">
            <div id="sliderContainer">
                <div class="tick-slider">
                    <div class="tick-slider-header">
                        <h5><label for="waveSlider">Graphic controller :</label></h5>
                    </div>
                    <div class="graph-controller-btn-container">
                        <div class="debug-container">
                            <h4>Debug</h4>
                            <input class="tgl tgl-ios" id="debug-checkbox" type="checkbox" onclick="debugSwitch()"/>
                            <label class="tgl-btn" for="debug-checkbox"></label>
                        </div>
                        <div>
                            <button class="btn_previous" onclick="previous()">Previous</button>
                            <button class="btn_next" onclick="next()">Next</button>
                        </div>
                        <button class="add-graph-btn" onclick="openModalAddGraph()"  >Add Graphic on screen</button>
                          <div id="modal-add-graph" class="add-lead-graph-container">
                            <form>
                                <div class="checkbox-container">
                                    {% for i in leads %}
                                        <label><input class="lead_checkbox" value={{ i }} id={{i}} type="checkbox" onchange="count({{i}})"  > Lead n: {{i}}</label>
                                    {% endfor %}
                                </div>
                                <input type="submit" id="add_leads_btn"  disabled="true" onclick="addLeadGraph(event)" class="add-lead-graph" value="Refresh">
                            </form>
                        </div>
                    </div>

                    <div class="tick-slider-background"></div>
                    <div id="weightProgress" class="tick-slider-progress"></div>
                    <div id="weightTicks" class="tick-slider-tick-container"></div>
                    <input
                            id="waveSlider"
                            class="tick-slider-input"
                            type="range"
                            min="0"
                            max="200"
                            step="1"
                            value="0"
                            oninput="sliderChange()"
                            data-tick-step="5"
                            data-tick-id="weightTicks"
                            data-value-id="weightValue"
                            data-progress-id="weightProgress"
                            data-handle-size="18"
                            data-min-label-id="weightLabelMin"
                            data-max-label-id="weightLabelMax"
                    />
                </div>
            </div>
        </div>

        {#  ---------  graph --------#}
        <div class="container mx-auto ">
            <div class="row  "  id="graph-container">
                <div class="col-md-9  graph-section">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div id="cluster-nav" style="display: none">
        <button type="button" class=" close-btn" onclick="toggleNav()">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
       </button>

        <nav class=" graph-nav">
            <div class="container-fluid" >
                <ul id="clusters_nav"  class="ul-nav"  >

                </ul>
            </div>
        </nav>

        <div id="clusters_Maincontainer"  class="container cluster-section">

        </div>
    </div>


</div>





<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>



{# --- script for the graph --- #}
<script>
    {#  --- Global variable for graph ---  #}
    var dataGraphs = [];
    var charts = [];
    var dataGraphsDebug = [];
    var pointBackgroundColorForDebugs = [];
    var pointBorderColorForDebugs = [];

    var dataClusterGlobal = [];
    var pointBackgroundColorClustersGlobal = [];
    var pointBorderColorClustersGlobal = [];

    var labelarray = new Array(1100);
    var up = 0;
    var down = 1100;
    var wavePointer = 0;
    var waveSlider = document.getElementById('waveSlider');
    // here we need change the waveSlider.max with the bigger length of pulse of all graph
    // for now we use the pulse length of the first graph
    var key = {{ pulses }};
    waveSlider.max = key.length ;

    var cluster_nav = document.getElementById('clusters_nav');
    var  leadnumber = "Lead_" + {{ current_lead }};
    var leadposition = "Lead0";

    var li = document.createElement('li');
    var content = '<div  id="nav ' + leadposition + '" class="li-cluster" onclick="DisplayContainer('+ 0 + ')"  >\n '+ '<span> '+ leadnumber + '</span>' + '</div>';
    li.innerHTML= content;
    cluster_nav.appendChild(li);

     {#  --- Call the function to construct the graph of the main lead  ---  #}
    var nameOfTheCurrentGraph = 'Graph '+ ({{ current_lead }}).toString();


    var container = document.getElementById('clusters_Maincontainer');
    var div = document.createElement("div");
    var content = '<div id="cluster_nav_'+ 0 +'" class="cluster_container">\n' +

        '<div class="cluster_container__btn">' +
        '            <button class="btn btn-success mx-auto LaunchButton" id="LaunchButton'+0 + '" onclick="analyze(' + 0 + ')">\n' +
        '                Launch Analyze\n' +
        '            </button>\n' +
        '\n' +
        '        </div>\n' +
        '\n' +
        '        <div class="cluster-section">\n' +
        '\n' +
        '            <div class="container card-container">\n' +
        '                <div id="cluster_container_'+ 0 + '" class="row justify-content-around">\n' +
        '\n' +
        '\n' +
        '                    ---- Clusters: ----\n' +
        '\n' +
        '                </div>\n' +
        '\n' +
        '            </div>\n' +
        '        </div>'

        '</div>';
    div.classList.add("cluster-subsection");
    div.style.display = 'none';
    div.innerHTML = content;
    container.appendChild(div);

    constructGraph( {{ data }}, {{ pulses }}, {{ debug }}, 'myChart' , nameOfTheCurrentGraph );


    function DisplayContainer(i)
    {
        var container = document.getElementById('clusters_Maincontainer');
        var navelement = document.getElementById('clusters_nav');

        let length = container.childNodes.length;

        console.log(length);

        /*
            In the navbar , if we click on a lead ,we display its correponding container
         */
        for(j = 1 ; j< length; j++)
        {
            if ( j== i+1)
                container.childNodes[j].style.display = 'flex';
            else
                 container.childNodes[j].style.display = 'none';
        }

        /*
            In the navbar , if we click on a lead , its color is blue
         */

        for(j = 1 ; j< length; j++)
        {
            if ( j== i+1)
                navelement.childNodes[j].style.color = 'blue';
            else
                 navelement.childNodes[j].style.color = 'black';
        }

    }

    /*
    Function to construct a graph for a selected lead
     */
    function constructGraph( data, pulse, dataDebug, chartName , labelGraph ) {

         {#  ---    //add the data of our current graph to the global mainArrays of our collection ---  #}
        dataGraphs.push(data);
        dataGraphsDebug.push(dataDebug);
        // array
        let dataCluster = [];
        dataClusterGlobal.push(dataCluster);

        //array for print the point just on op of the wave for the cluster
        let pointBackgroundColorClusters = [];
        let pointBorderColorClusters = [];
        pointBackgroundColorClustersGlobal.push(pointBackgroundColorClusters);
        pointBorderColorClustersGlobal.push(pointBorderColorClusters);


        // array for print the point just on op of the wave for debug
        let pointBackgroundColor = [];
        let pointBorderColor = [];
        pointBackgroundColorForDebugs.push(pointBackgroundColor);
        pointBorderColorForDebugs.push(pointBorderColor);



         {#  ---  To get  and show the  delimitation of the waves  ---  #}
        dataDebug.forEach(
            (value) => {
                if (value == 0) {
                    pointBackgroundColor.push('transparent');
                    pointBorderColor.push('transparent');
                } else {
                    pointBackgroundColor.push('white');
                    pointBorderColor.push('red');
                }
            });


        {#  -----Get the canvas and create the graph ------  #}
        var ctx = document.getElementById(chartName).getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: labelarray,
                datasets: [{
                    label: labelGraph,
                    backgroundColor: 'transparent',
                    borderColor: 'rgb(255, 99, 132)',
                    data: data.slice(up, down)
                },
                    {
                        label: 'Debug',
                        data: dataDebug.slice(up, down),
                        pointBackgroundColor: pointBackgroundColor.slice(up, down),
                        pointBorderColor: pointBorderColor.slice(up, down),
                        {#pointBackgroundColor: 'black',#}
                        pointRadius: 3,
                        fill: false,
                        showLine: false,
                        hidden: true
                    }]
            },

            // Configuration options go here
            options: {
                elements: {
                    point: {
                        radius: 0
                    }
                },
                scales: {
                    yAxes: [{
                        gridLines: {
                            display: true,
                            color: "rgba(255,99,132,0.2)"
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }]
                },
                // Container for pan options
                pan: {
                    // Boolean to enable panning
                    enabled: true,

                    // Panning directions. Remove the appropriate direction to disable
                    // Eg. 'y' would only allow panning in the y direction
                    mode: 'x',

                    speed: 1
                },

                // Container for zoom options
                zoom: {
                    // Boolean to enable zooming
                    enabled: true,
                    // Zooming directions. Remove the appropriate direction to disable
                    // Eg. 'y' would only allow zooming in the y direction
                    mode: 'x',
                },

            }
        });
        //add the graph to the global array of charts
        var checkBox = document.getElementById('debug-checkbox');

         if (checkBox.checked == true) {
            {#console.log('good');#}
            chart.data.datasets[1].hidden = false;

        } else {
            {#console.log('no good');#}
            chart.data.datasets[1].hidden = true;
        }


         chart.update();
         console.log('chartdebug');
        charts.push(chart);
    }

    /*
    Function that allows us to move forward  in the different graphs
     */
    function next() {
        up += 100;
        down += 100;
        {#console.log(data.length)#}
        for (var i=0 ; i < dataGraphs.length ; i++){
            if (dataGraphs[i].length < down) {
                console.log('you can advance more ...')
            } else {
                changeViewGraph(up, down);
                wavePointer++;
                update_slider(wavePointer)
            }
            charts[i].update();
        }
    }

    /*
    Function that allows us to back off  in the different graphs
     */
    function previous() {
        up -= 100;
        down -= 100;
        for( var i = 0 ; i < dataGraphs.length ; i++){
            if (up > 0) {
                changeViewGraph(up, down);
                wavePointer--;
                update_slider(wavePointer)
            } else {
                console.log('you cant get back more ...')
            }
            charts[i].update();
        }
    }

    {# change the position of the slider#}
    function update_slider(wavePointer) {
        waveSlider.value = wavePointer;
    }

    {# fct onChange of slider #}
    function sliderChange() {
        {#console.log(waveSlider.value);#}
        wavePointer = waveSlider.value;
        up = waveSlider.value * 100;
        down = waveSlider.value * 100 + 1100;
        {#console.log("a= "+a+" b= "+b+" wave pointer= "+wavePointer);#}
        changeViewGraph(up, down);
        for (var i = 0 ; i < charts.length ; i++){
             charts[i].update();
        }
    }

    {# change all datasets.data of all the graphs  according to  a and b #}
    function changeViewGraph(a, b) {
        for ( var i =0 ; i < dataGraphs.length ; i++) {
            charts[i].data.datasets[0].data = dataGraphs[i].slice(a, b);
            charts[i].data.datasets[1].data = dataGraphsDebug[i].slice(a, b);
            charts[i].data.datasets[1].pointBackgroundColor = pointBackgroundColorForDebugs[i].slice(a, b);
            charts[i].data.datasets[1].pointBorderColor = pointBorderColorForDebugs[i].slice(a, b);
            for (var j = 0; j < dataClusterGlobal[i].length; j++) {
                console.log('lenght clusters ::',dataClusterGlobal[i].length);
                charts[i].data.datasets[j + 2].data = dataClusterGlobal[i][j].slice(a, b);
                charts[i].data.datasets[j + 2].pointBackgroundColor = pointBackgroundColorClustersGlobal[i][j].slice(a, b);
                charts[i].data.datasets[j + 2].pointBorderColor = pointBorderColorClustersGlobal[i][j].slice(a, b);
            }
        }
    }

    /*
    Function that check our switch button and show the debug ( delimitation of the waves ) if checked)
     */
    function debugSwitch() {
        var checkBox = document.getElementById('debug-checkbox');
         console.log('graphs_debug',charts.length);
        for( var i = 0; i < charts.length ; i++){

           if (checkBox.checked == true) {
            {#console.log('good');#}
            charts[i].data.datasets[1].hidden = false;

        } else {
            {#console.log('no good');#}
            charts[i].data.datasets[1].hidden = true;
        }
        charts[i].update();
       }
    }



    /*
        Function that create the point graph of each cluster according to the pulses of the cluster
     */
    function clusterColorGraph(clusterId, clusterPulse , positionWhenAdd) {
        // [233, 456, 677,1233,...]
        const colors = ["blue", "green", "red", "yellow", "purple", "pink", "black", "orange"];

        clusterPulse.sort(function (a, b) {
            return a - b;
        });

        let dataClusterArray = [];
        let j = 0;
        let pointBackgroundColorCluster = [];
        let pointBorderColorCluster = [];
        let color = colors[clusterId - 1];


        for (var i = 0; i < dataGraphs[positionWhenAdd].length; i++) {
            {#console.log("visualisation ::", i);#}

            if (i == clusterPulse[j]) {
                dataClusterArray.push(3000);
                j = j + 1;
                pointBackgroundColorCluster.push(color);
                pointBorderColorCluster.push(color);
            } else {
                dataClusterArray.push(0);
                pointBackgroundColorCluster.push('transparent');
                pointBorderColorCluster.push('transparent');
            }
        }
        dataClusterGlobal[positionWhenAdd].push(dataClusterArray);
        console.log('position',positionWhenAdd);

        pointBackgroundColorClustersGlobal[positionWhenAdd].push(pointBackgroundColorCluster);
        pointBorderColorClustersGlobal[positionWhenAdd].push(pointBorderColorCluster);

        var newDataset = {
            label: "Cluster" + clusterId,
            data: dataClusterArray.slice(up,down),
            borderColor: color,

            pointBackgroundColor: pointBackgroundColorCluster.slice(up, down),
            pointBorderColor: pointBorderColorCluster.slice(up, down),
            {#pointBackgroundColor: 'black',#}
            pointRadius: 3,
            fill: false,
            showLine: false,
            hidden: false,
            id: clusterId

        };

        charts[positionWhenAdd].data.datasets.push(newDataset);
        charts[positionWhenAdd].update();
        console.log(charts[positionWhenAdd]);
    }


    // Function to print or hide the waves of each cluster
    function viewWave(clusterId, clusterPulse , positionWhenAdd ) {
        let viewWaveBtn = document.getElementById('view-wave-btn' + clusterId+'::'+positionWhenAdd);


        if (checkCluster(clusterId , positionWhenAdd) == false) {
            //clusterNav.style.display = clusterNav.style.display === 'none' ? '' : 'none';
            clusterColorGraph(clusterId, clusterPulse , positionWhenAdd);
            viewWaveBtn.firstChild.data = 'Hide wave on graph';
            viewWaveBtn.classList.remove('btn-warning');
            viewWaveBtn.classList.add('btn-secondary');

        }
        else
        {

            let index = getCluster(clusterId , positionWhenAdd);
            charts[positionWhenAdd].data.datasets[index].hidden = charts[positionWhenAdd].data.datasets[index].hidden === false ? true : false;
            viewWaveBtn.firstChild.data = viewWaveBtn.firstChild.data === 'Hide wave on graph' ? 'View wave on graph' : 'Hide wave on graph';
            viewWaveBtn.classList.contains('btn-secondary') ? viewWaveBtn.classList.remove('btn-secondary') : viewWaveBtn.classList.add('btn-secondary');
            viewWaveBtn.classList.contains('btn-info') ? viewWaveBtn.classList.remove('btn-info') : viewWaveBtn.classList.add('btn-info');

        }

        charts[positionWhenAdd].update();
    }

    // get the index of the cluster in its graph
    function getCluster(clusterId, positionWhenAdd) {
        let j = 0;
        console.log(' visualisation :: getCluster :: cluster_id' + clusterId);
        for (var i = 0; i < charts[positionWhenAdd].data.datasets.length; i++) {
            console.log('id ' + charts[positionWhenAdd].data.datasets[i].id);
            if (charts[positionWhenAdd].data.datasets[i].id == clusterId) {
                console.log('i' + i);
                j = i;
            }
        }
        return j;
    }
    // function to check if we alredy displayed the graph of the cluster
    function checkCluster(clusterId , positionWhenAdd) {
        {#console.log('cluster_id' + clusterId);#}
        let flag = false;
        for (let i = 0; i < charts[positionWhenAdd].data.datasets.length; i++) {
            if (charts[positionWhenAdd].data.datasets[i].id == clusterId) {
                console.log('i' + i);
                flag = true;
            }
        }

        return flag;
    }

    // Function to go the wave that we clicked on
    function goToWave(numwave,position) {
        {#var numwave = document.getElementById('wavenum').value;#}
        console.log("Position" , position);
        var n = parseInt(numwave);
        if (n > 550 && dataGraphs[position].length > n + 550) {
            wavePointer = Math.round(n / 100);
            waveSlider.value = wavePointer;
            up = n - 550;
            down = n + 550;
            changeViewGraph(up, down);

            charts[position].update();
        } else if (n < 550) {
            wavePointer = 0;
            waveSlider.value = wavePointer;
            up = 0;
            down = 1100;
            {#console.log("a= "+a+" b= "+b+" wave pointer= "+wavePointer);#}
            changeViewGraph(up, down);
            charts[position].update();
        } else {
            console.log(n);
            wavePointer = waveSlider.max;
            waveSlider.value = wavePointer;
            up = dataGraphs[position].length - 1100;
            down = dataGraphs[position].length;
            {#console.log("a= "+a+" b= "+b+" wave pointer= "+wavePointer);#}
            changeViewGraph(up, down);

            charts[position].update();
        }
    }
    function getPositionOnWaveBar(totalPulseLength, pulseCluster, color) {
        var waveContainer = document.getElementById('wave-container');

        for (var i = 0; i < pulseCluster.length; i++) {
            var left = Number((pulseCluster[i] / totalPulseLength * 100).toFixed(0));
            {#console.log('visualisation : marginleft '+marginLeft);#}
            var div = document.createElement("div");
            div.className = "vl";
            var leftStyle = "left: " + left + "%;";

            div.style = leftStyle;

            waveContainer.appendChild(div);
        }
    }
    // ---- end of fct analyze ------

</script>

{# --- script for the nav btn --- #}
<script>
    var clusterNav = document.getElementById('cluster-nav');
    var clusterNavBtn = document.getElementsByClassName("cluster-nav-btn")[0];

    function toggleNav() {
        clusterNav.style.display = clusterNav.style.display === 'none' ? '' : 'none';
        clusterNavBtn.style.display = clusterNavBtn.style.display === 'none' ? '' : 'none';
    }

</script>
{# --- script for the random color --- #}
<script>

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        const colors = ["blue", "green", "red", "yellow", "purple", "pink", "black", "orange"];
        const randomColors = colors[Math.floor(Math.random() * colors.length)];


        return randomColors;
    }
</script>


<!-- Optional JavaScript -->

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{#    <script src="{% static 'JS/slider.js' %}"/>#}


</body>
</html>
