body{
    margin: 0;
}
.container{
    display: flex;
}

.data-container{
    background-color: #dcf3ff;
    width: 350px;
}

.data-container h2{
    color: black;
    text-align: center;
}
.template-data{
    display: flex;
    padding: 10px;
}
.template-data h3,p {
    margin: 0 10px;

}